In [9]:
import pandas as pd

df = pd.read_csv("../data/monsters.csv")

df_stats_cr = df[
    ["name","strength","dexterity","constitution",
     "intelligence", "wisdom", "charisma",
     "armor_class", "hit_points", "challenge_rating"]
    ]
df_stats_cr.head()

,name,strength,dexterity,constitution,intelligence,wisdom,charisma,armor_class,hit_points,challenge_rating
0,Aboleth,21,9,15,18,15,18,17,135,10.00
1,Acolyte,10,10,10,10,14,11,10,9,0.25
2,Adult Black Dragon,23,14,21,14,13,17,19,195,14.00
3,Adult Blue Dragon,25,10,23,16,15,19,19,225,16.00
4,Adult Brass Dragon,23,10,21,14,13,17,18,172,13.00